{% extends 'homagram_app/base.html' %}

{% load static %}

{% block title %}asdf{% endblock %}


{% block content %}

	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'registration/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Edit Profile
				</span>
				<form action="{% url 'homagram_app:edit_profile' %}" method="POST" enctype="multipart/form-data" class="login100-form validate-form p-b-33 p-t-5">
					{% csrf_token %}

<!--					<div class="right-side">-->

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.title_about_text }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.birth_date }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>


						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.age }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.pers_website }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.degree }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.phone }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.email }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.about_text }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.profile_photo }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.about_facts }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.happy_clients }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.projects }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.hours_of_support }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.hard_worker }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.location }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.resume_text }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.resume }}

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>


<!--					</div>-->

						<div class="container-login100-form-btn m-t-32">
							<button type="submit" class="login100-form-btn">
								Save
							</button>
	<!--						<a class="signup_button" href="{% url 'users:login' %}">Sing In</a>-->
						</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'registration/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/js/main.js' %}"></script>

{% endblock %}







