{% extends 'homagram_app/base.html' %}

{% load static %}

	<title>Login V16</title>

{% block content %}

	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'registration/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					{% if messages %}
					<div class="messages-container" id="messages">
						<ul class="messages">
							{% for message in messages %}
							<li class="message {% if message.tags %} {{ message.tags }}{% endif %}">
								{{ message }}
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}

<script>
  setTimeout(function() {
	document.getElementById('messages').style.display = 'none';
  }, 3000);
</script>

					Account Login
				</span>
				<form action="{% url 'users:login' %}" method="POST" class="login100-form validate-form p-b-33 p-t-5">
					{% csrf_token %}
					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						{{ form.email }}
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						{{ form.password }}
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<a class="signup_button" href="{% url 'users:registration' %}">Sign Up</a>
						<button type="submit" class="login100-form-btn">
							Login
						</button>
						<a class="forgotpass_button" href="{% url 'users:forgot_password' %}">Forgot Password?</a>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'registration/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/js/main.js' %}"></script>

{% endblock %}