{% extends 'users/index.html' %}

{% load static %}

{% block title %}asdf{% endblock %}


{% block content %}


	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'registration/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Account Registration
				</span>
				<form action="{% url 'users:registration' %}" method="POST" enctype="multipart/form-data" class="login100-form validate-form p-b-33 p-t-5">
					{% csrf_token %}

					<div class="right-side">
						<div class="wrap-input100 validate-input" data-validate = "Enter username">
								{{ form.username}}
<!--							{{ form.username.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
							{{ form.first_name }}
<!--							{{ form.first_name.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
							{{ form.last_name }}
<!--							{{ form.last_name.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
							{{ form.email }}
<!--							{{ form.email.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
							{{ form.mobile_number }}
<!--							{{ form.phone.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
							{{ form.about }}
<!--							{{ form.about.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input sexfield" data-validate = "Enter username">
							{{ form.sex }}
							{{ form.sex.errors }}
							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input img-thumbnail" data-validate = "Enter username">
							<div class="input_container">
							  <label for="files" class="btn">Browse Files</label>
							  	{{ form.profile_picture }}
								{{ form.profile_picture.errors }}
							</div>

							<span class="focus-input100" data-placeholder="&#xe82a;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							{{ form.password1 }}
<!--							{{ form.password1.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe80f;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							{{ form.password2 }}
<!--							{{ form.password2.errors }}-->
							<span class="focus-input100" data-placeholder="&#xe80f;"></span>
						</div>
					</div>

<!--					formaction="{% url 'users:login' %}"-->

					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">
							Sign Up
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'registration/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'registration/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'registration/js/main.js' %}"></script>

{% endblock %}


<script>
	document.querySelector("#files").onchange = function() {
  const fileName = this.files[0]?.name;
  const label = document.querySelector("label[for=files]");
  label.innerText = fileName ?? "Browse Files";
};
</script>





